body {
  background-image: url(img/halodoc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* navbar */
.navbar-brand {
  color: #472183;
}
.navbar-brand:hover {
  color: #472183;
}
.nav-item:hover {
  text-decoration: underline;
}
.nav-link:hover {
  color: #472183;
}
.nav-link {
  color: black;
}
.home {
  color: #472183;
}
.login {
  color: #472183;
}
.navbar-nav .btn {
  color: #472183;
  border: 2px solid #472183;
  border-radius: 0%;
}
.navbar-nav .btn:hover {
  color: #472183;
  border: 2px solid #472183;
  text-decoration: underline;
}
/* akhir navbar */

/* hero */
.hero-tag h1 {
  color: #472183;
}
.hero-tag p {
  font-size: 18px;
}
.p1 {
  color: #472183;
  width: 450px;
}
.p2 {
  width: 450px;
}
#hero .btn {
  background-color: #472183;
  border-radius: 0;
}
/* akhir hero */

/* footer */
footer {
  background-color: #472183;
  margin-top: auto;
}
/* akhir footer */
